<div class="form-group extra-space">
  <h2>{{ 'ATTACHMENTS' | translate }}</h2>
  <div class="container">
    @if (!election.isArchived) {
      <app-filepicker (filePicked)="addFile($event)" accept="application/pdf"></app-filepicker>
    }
    @for (document of election.documents; track document; let i = $index) {
      <div class="file-list">
        <div class="file-name">{{ document.name }}</div>
        <div class="remove-file">
          @if (!election.isArchived) {
            <bc-icon size="xl" (click)="removeFileAtIndex(i)">x</bc-icon>
          }
        </div>
      </div>
    }
  </div>
</div>

<div class="form-group">
  <h2>{{ 'FORMS' | translate }}</h2>
  <app-election-form-extras
    [(infoTexts)]="infoTexts"
    [electionType]="election.electionType"
    (infoTextsChange)="infoTextsChanged($event)"
    [(quorumSignaturesCount)]="quorumSignaturesCount"
    [(tenantLogo)]="election.tenantLogo"
    [readonly]="election.isArchived"
  >
  </app-election-form-extras>
</div>
