@use '@abraxas/voting-lib/style/table' as table;

.buttons {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.documents {
  margin-top: 2rem;
}

p {
  white-space: pre-wrap;
}

.content {
  margin: 3rem;
}

[hidden] {
  display: none !important;
}

.list-union-desc::after {
  content: ', ';
}

.list-union-desc:last-child::after {
  content: none;
}

.bold {
  font-weight: bold;
}

.spinner {
  display: flex;
  justify-content: center;
  height: 2rem;
  position: relative;
  left: 0.2rem;
}

::ng-deep .bc-column-selection {
  @include table.truncate-long-sortable-table-header();

  width: 3%;
}

::ng-deep .bc-column-nr {
  @include table.truncate-long-sortable-table-header();

  width: 5%;
}

::ng-deep .bc-column-version {
  width: 5%;
}

::ng-deep .bc-column-ui-modified-date {
  @include table.truncate-long-sortable-table-header();

  width: 12%;
}

::ng-deep .bc-column-ui-modified-by-name {
  @include table.truncate-long-sortable-table-header();

  width: 10%;
}

::ng-deep .bc-column-state {
  @include table.truncate-long-sortable-table-header();

  width: 8%;
}

::ng-deep .bc-column-validated {
  @include table.truncate-long-sortable-table-header();

  width: 7%;
}

::ng-deep .bc-column-locked {
  @include table.truncate-long-sortable-table-header();

  width: 7%;
}

::ng-deep .bc-column-list-union {
  @include table.truncate-long-sortable-table-header();

  width: 10%;
}

::ng-deep .bc-column-list-sub-union {
  @include table.truncate-long-sortable-table-header();

  width: 10%;
}

::ng-deep .bc-column-actions {
  @include table.truncate-long-sortable-table-header();

  width: 5%;
}

.row-editing {
  display: flex;
  justify-content: space-around;

  bc-icon:last-child {
    margin: 0 1.5rem 0 0.5rem;
  }
}

::ng-deep .small-filter .mat-mdc-form-field-icon-suffix {
  padding-left: 0;
}

::ng-deep .small-filter .formfield .mat-mdc-form-field-icon-suffix {
  margin-left: 0;
}

::ng-deep .small-filter .formfield .mat-form-field-appearance-outline .mat-mdc-form-field-flex {
  padding-right: 0;
  padding-left: 4px;
}

::ng-deep .small-filter .formfield .mat-mdc-form-field-icon-prefix {
  margin-right: 0;
}
