<main>
  <h2>{{ 'CREATE_ELECTION' | translate }}</h2>
  <div class="content">
    <div class="form-group space-after">
      <app-step-navigation [direction]="'horizontal'">
        @for (title of steps; track title; let i = $index) {
          <app-step-navigation-item
            class="step-navigation-item"
            [active]="this.activeStep === i + 1"
            [stepSelectable]="!isNew && isActiveStepValid"
            (stepSelected)="this.activeStep = i + 1"
            >{{ title | translate }}</app-step-navigation-item
          >
        }
      </app-step-navigation>
    </div>
    <app-spinner-centered [visible]="loading">
      <div class="apps">
        @if (this.activeStep === 1) {
          <app-election-general [(election)]="this.election" (isValidChange)="validSteps[0] = $event">
          </app-election-general>
        }
        @if (this.activeStep === 2) {
          <app-election-number-of-seats
            [(election)]="this.election"
            (seatsChanged)="numberOfSeatsChanged($event)"
            (isValidChange)="validSteps[1] = $event"
          >
          </app-election-number-of-seats>
        }
        @if (this.activeStep === 3) {
          <app-election-form
            [(election)]="this.election"
            (isValidChange)="validSteps[2] = $event"
            (infoTextsChange)="infoTextsChanged($event)"
          >
          </app-election-form>
        }
        @if (this.activeStep === 4) {
          <app-election-info-texts [election]="this.election" (infoTextsChange)="infoTextsChanged($event)">
          </app-election-info-texts>
        }
      </div>
      <div class="buttons">
        <bc-button (buttonClick)="previousStep()" label="{{ 'BACK' | translate }}"></bc-button>

        @if (!isNew) {
          <app-spinner-inline [visible]="savingElection">
            <bc-button
              [disabled]="!isActiveStepValid || savingElection || election.isArchived"
              (buttonClick)="save()"
              [variant]="'primary'"
              label="{{ 'SAVE' | translate }}"
            >
            </bc-button>
          </app-spinner-inline>
        }

        @if (activeStep !== maxStep) {
          <bc-button
            [disabled]="!isActiveStepValid && !election.isArchived"
            [variant]="'primary'"
            class="next-button"
            (buttonClick)="nextStep()"
            label="{{ 'NEXT' | translate }}"
          >
          </bc-button>
        }

        @if (activeStep === maxStep && isNew) {
          <app-spinner-inline [visible]="savingElection">
            <bc-button
              [disabled]="savingElection"
              [variant]="'primary'"
              class="next-button"
              (buttonClick)="createElection()"
              label="{{ 'CREATE_ELECTION' | translate }}"
            >
            </bc-button>
          </app-spinner-inline>
        }
      </div>
    </app-spinner-centered>
  </div>
</main>
