<div class="form-group">
  <bc-label class="block" label="{{ title }}"></bc-label>
  <bc-dropdown
    [items]="filteredItems"
    [displayExpr]="displayExpr"
    [(ngModel)]="selectedItem"
    [multiple]="false"
  ></bc-dropdown>
</div>
<div class="form-group">
  <bc-button
    [variant]="'primary'"
    [disabled]="maxItems && selectedItems.length >= maxItems"
    (buttonClick)="addSelection(selectedItem)"
    label="{{ 'ADD' | translate }}"
  >
  </bc-button>
  <bc-button (click)="resetSelection()" label="{{ 'RESET' | translate }}"></bc-button>
</div>
<div class="district">
  <table>
    <tr>
      <th colspan="2">{{ gridTitle || title }}</th>
    </tr>
    @for (item of selectedItems; track item) {
      <tr>
        <td>{{ item[displayExpr] || item }}</td>
        <td class="delete">
          <span (click)="deleteSelection(item)" class=".cursor-pointer"
            ><bc-icon size="s" [icon]="'trash'"></bc-icon
          ></span>
        </td>
      </tr>
    }
  </table>
</div>
