<app-spinner-centered [visible]="loading">
  <div class="form-group">
    @if (hasNrOfMandatesReached) {
      <p class="error" translate [translateParams]="{ NR_OF_MANDATES: nrOfMandates }">
        CANDIDACY.NR_OF_MANDATES_REACHED
      </p>
    }
    @if (list?.locked) {
      <p translate>LIST.LOCKED_MSG</p>
    }
    @if (canEdit) {
      <app-spinner-inline [visible]="saving">
        <bc-button
          [variant]="'primary'"
          [disabled]="!hasChanges || saving || (list?.locked && !this.isWahlverwalter)"
          (buttonClick)="saveChanges()"
          label="{{ 'CANDIDACY.SAVE_CHANGES' | translate }}"
        >
        </bc-button
      ></app-spinner-inline>
    }
    <div class="form-group edit-row">
      @if (canEdit) {
        <bc-button
          [disabled]="hasNrOfMandatesReached || (list?.locked && !this.isWahlverwalter)"
          [variant]="'primary'"
          (buttonClick)="addCandidacy()"
          label="{{ 'CANDIDACY.ADD_CANDIDACY' | translate }}"
        >
        </bc-button>
      }
      <div class="right">
        @if (canEdit && isProporz) {
          <bc-button
            [variant]="'secondary'"
            (buttonClick)="preCumulate()"
            [disabled]="
              !selected ||
              selected?.candidate.cloned ||
              hasNrOfMandatesReached ||
              (list?.locked && !this.isWahlverwalter)
            "
            label="{{ 'CANDIDACY.PRE_CUMULATE' | translate }}"
          >
          </bc-button>
        }
        @if (canEdit) {
          <bc-button
            [variant]="'secondary'"
            (buttonClick)="remove()"
            [disabled]="!selected || (list?.locked && !this.isWahlverwalter)"
            label="{{ 'CANDIDACY.DELETE' | translate }}"
          >
          </bc-button>
        }
      </div>
    </div>
    <bc-table
      selection
      (selectionChange)="onSelectionChange($event)"
      #candidateSort="sort"
      sort
      [dataSource]="dataSource"
      cdkDropList
      [cdkDropListData]="dataSource"
      (cdkDropListDropped)="moveCandidate($event.previousIndex, $event.currentIndex)"
    >
      <ng-container [columnDef]="columns.icons">
        <th bc-header-cell *headerCellDef></th>
        <td bc-data-cell *dataCellDef="let row">
          @if (row.candidate.cloned) {
            <bc-icon icon="double-checkmark"></bc-icon>
          }
          @if (row.candidate.markings.length > 0) {
            <bc-icon icon="eye"></bc-icon>
          }
        </td>
      </ng-container>

      <ng-container [columnDef]="columns.number">
        <th bc-header-cell *headerCellDef>{{ 'CANDIDACY.NUMBER_SHORT' | translate }}</th>
        <td bc-data-cell *dataCellDef="let row">
          {{ row.candidate.index | number: '2.0-0' }}
        </td>
      </ng-container>

      <ng-container [columnDef]="columns.firstName">
        <th bc-header-cell sort *headerCellDef>{{ 'CANDIDACY.FIRSTNAME' | translate }}</th>
        <td bc-data-cell *dataCellDef="let row" [class.cell-tagged]="isTagged(row, 'firstName')">
          {{ row.candidate.firstName }}
        </td>
      </ng-container>

      <ng-container [columnDef]="columns.familyName">
        <th bc-header-cell sort *headerCellDef>{{ 'CANDIDACY.FAMILYNAME' | translate }}</th>
        <td bc-data-cell *dataCellDef="let row" [class.cell-tagged]="isTagged(row, 'familyName')">
          {{ row.candidate.familyName }}
        </td>
      </ng-container>

      <ng-container [columnDef]="columns.dateOfBirth">
        <th bc-header-cell sort *headerCellDef>{{ 'CANDIDACY.DATEOFBIRTH' | translate }}</th>
        <td bc-data-cell *dataCellDef="let row" [class.cell-tagged]="isTagged(row, 'dateOfBirth')">
          {{ row.candidate.dateOfBirth | date: 'dd.MM.yyyy' }}
        </td>
      </ng-container>

      <ng-container [columnDef]="columns.incumbent">
        <th bc-header-cell sort *headerCellDef>{{ 'CANDIDACY.INCUMBENT' | translate }}</th>
        <td bc-data-cell *dataCellDef="let row" [class.cell-tagged]="isTagged(row, 'incumbent')">
          <bc-checkbox [checked]="row.candidate.incumbent" [disabled]="true"></bc-checkbox>
        </td>
      </ng-container>

      <ng-container [columnDef]="columns.street">
        <th bc-header-cell sort *headerCellDef>{{ 'CANDIDACY.ADDRESS' | translate }}</th>
        <td bc-data-cell *dataCellDef="let row" [class.cell-tagged]="isTagged(row, 'street')">
          {{ row.candidate.street }} {{ row.candidate.houseNumber }}
        </td>
      </ng-container>

      <ng-container [columnDef]="columns.locality">
        <th bc-header-cell sort *headerCellDef>{{ 'CANDIDACY.LOCALITY' | translate }}</th>
        <td bc-data-cell *dataCellDef="let row" [class.cell-tagged]="isTagged(row, 'locality')">
          {{ row.candidate.locality }}
        </td>
      </ng-container>

      <ng-container columnDef="actions">
        <th bc-header-cell *headerCellDef></th>
        <td bc-data-cell *dataCellDef="let element; let i = index">
          <div class="row-editing">
            <div class="edit-icons">
              <bc-icon icon="search" iconColor="info" (click)="showDetailsModal(element)"></bc-icon>
              @if (canEdit && (!list?.locked || this.isWahlverwalter)) {
                <bc-icon icon="edit" (click)="modifyCandidacy(element)"></bc-icon>
              }
            </div>
          </div>
        </td>
      </ng-container>

      <tr bc-header-row *headerRowDef="let row; columns: columnsToDisplay"></tr>
      <tr
        bc-data-row
        #rowSelection="selectionToggle"
        *dataRowDef="let row; columns: columnsToDisplay; let i = index"
        selectionToggle
        [selectionToggleValue]="row"
        selectionRow
        [selectionRowValue]="row"
        (click)="rowSelection.toggle()"
        cdkDrag
        [cdkDragDisabled]="election.isArchived || (list?.locked && !this.isWahlverwalter)"
        [cdkDragData]="row"
      ></tr>
    </bc-table>
  </div>
</app-spinner-centered>
