<div>
  <bc-label label="{{ 'ELECTION_EXTRAS.LABEL_TENANT_EXPORT_TYPE' | translate }}"></bc-label>
  <bc-radio-button-group
    [(ngModel)]="tenantIdentifierType"
    [items]="[
      { value: 'logo', displayText: ('ELECTION_EXTRAS.LABEL_TENANT_LOGO' | translate) },
      { value: 'text', displayText: ('ELECTION_EXTRAS.LABEL_TENANT_TITLE' | translate) },
    ]"
    subscriptSizing="dynamic"
  ></bc-radio-button-group>
  <bc-text
    *ngIf="tenantIdentifierType === 'text'; else tenantLogoContainer"
    [(ngModel)]="infotextTenantTitle.value"
    (ngModelChange)="updateInfotexts()"
    [label]="'ELECTION_EXTRAS.LABEL_INFOTEXT_TENANT_TITLE' | translate"
    [maxlength]="10000"
    subscriptSizing="dynamic"
  ></bc-text>
  <ng-template #tenantLogoContainer>
    <app-filepicker
      (filePicked)="setTenantLogo($event)"
      [multiple]="false"
      addTitle="ELECTION_EXTRAS.LABEL_TENANT_LOGO_CHOOSE"
      accept="image/jpeg,image/png"
    ></app-filepicker>
    <img *ngIf="tenantLogo" [src]="'data:image/png;base64,' + tenantLogo" class="tenant-logo" />
  </ng-template>
  <bc-text
    [ngModel]="wabstiExportTenantTitle"
    (ngModelChange)="wabstiExportTenantTitleChange.emit($event)"
    [label]="'ELECTION_EXTRAS.LABEL_WABSTI_TENANT_TITLE' | translate"
    [maxlength]="1000"
    subscriptSizing="dynamic"
    *ngIf="!hideWabstiExportTenantTitle"
  ></bc-text>
</div>
