<h2>{{ 'ELECTORAL_DISTRICTS' | translate }}</h2>
<app-spinner-centered [visible]="loadingDomains">
  <div>
    <bc-table
      sort
      #selection="selection"
      selection
      [selectionMultiple]="true"
      (selectionChange)="onSelectionChange($event)"
      [dataSource]="dataSource"
    >
      <ng-container columnDef="selection">
        <bc-header-cell *headerCellDef>
          <bc-checkbox
            selectAll
            [checked]="selection.isAllSelected()"
            [indeterminate]="selection.isPartialSelected()"
          ></bc-checkbox>
        </bc-header-cell>
        <bc-data-cell *dataCellDef="let row">
          <bc-checkbox
            [checked]="selection.isSelected(row)"
            selectionToggle
            [selectionToggleValue]="row"
          ></bc-checkbox>
        </bc-data-cell>
      </ng-container>
      <ng-container [columnDef]="columns.officialId">
        <bc-header-cell sort *headerCellDef>{{ 'DOMAIN_OF_INFLUENCE.ID' | translate }}</bc-header-cell>
        <bc-data-cell *dataCellDef="let row">
          {{ row.officialId }}
        </bc-data-cell>
      </ng-container>

      <ng-container [columnDef]="columns.name">
        <bc-header-cell sort *headerCellDef>{{ 'DOMAIN_OF_INFLUENCE.NAME' | translate }}</bc-header-cell>
        <bc-data-cell *dataCellDef="let row">
          {{ row.name }}
        </bc-data-cell>
      </ng-container>

      <ng-container [columnDef]="columns.shortName">
        <bc-header-cell sort *headerCellDef>{{ 'DOMAIN_OF_INFLUENCE.SHORTNAME' | translate }}</bc-header-cell>
        <bc-data-cell *dataCellDef="let row">
          {{ row.shortName }}
        </bc-data-cell>
      </ng-container>

      <ng-container [columnDef]="columns.domainOfInfluenceType">
        <bc-header-cell sort *headerCellDef>{{ 'DOMAIN_OF_INFLUENCE.TYPE' | translate }}</bc-header-cell>
        <bc-data-cell *dataCellDef="let row">
          {{ row.domainOfInfluenceType }}
        </bc-data-cell>
      </ng-container>
      <ng-container columnDef="actions">
        <bc-header-cell *headerCellDef></bc-header-cell>
        <bc-data-cell *dataCellDef="let element; let i = index">
          <div class="row-editing">
            @if (allowUpdating) {
              <bc-icon icon="edit" (click)="onOpenEditPage(element.id)"></bc-icon>
            }
            @if (allowDeleting) {
              <bc-icon icon="trash" (click)="onDelete(element.id)"></bc-icon>
            }
          </div>
        </bc-data-cell>
      </ng-container>
      <bc-header-row *headerRowDef="let row; columns: columnsToDisplay"></bc-header-row>
      <bc-data-row
        *dataRowDef="let row; columns: columnsToDisplay; let i = index"
        selectionRow
        [selectionRowValue]="row"
        selectionToggle
        [selectionToggleValue]="row"
      ></bc-data-row>
    </bc-table>
    <bc-paginator showFirstLastButtons [pageSize]="20" [pageSizeOptions]="[5, 10, 20]"></bc-paginator>
    <bc-button
      class="button"
      [variant]="'primary'"
      routerLink="modify"
      label="{{ 'ADD' | translate }}"
    ></bc-button>
    <bc-button
      class="button"
      (buttonClick)="deleteSelectedRows()"
      [disabled]="selectedDomains.length === 0"
      label="{{ 'DELETE' | translate }}"
    ></bc-button>
  </div>
</app-spinner-centered>
