.wrapper {
  height: auto;
  width: auto;
  max-height: 90vh;
  max-width: 600px;
  margin: 1rem;
}
.entry {
  margin-bottom: 0.5rem;

  &.tagged {
    background-color: #4cc1ae;
    border-radius: 0.2rem;
    padding: 0 0.3rem 0.1rem;
    margin-left: -0.3rem;
  }
}

h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;

  &:first-of-type {
    margin-top: 0;
  }
}

.ballot-data-container {
  padding-bottom: 0.75rem;
}
