<main>
  <div class="wrapper">
    <h2>{{ 'CANDIDACY.PERSONAL_DATA' | translate }}</h2>

    <div class="entry" [class.tagged]="isTagged('firstName')">
      <bc-readonly label="{{ 'CANDIDACY.FIRSTNAME' | translate }}">{{ candidacy.firstName }}</bc-readonly>
    </div>

    <div class="entry" [class.tagged]="isTagged('familyName')">
      <bc-readonly label="{{ 'CANDIDACY.FAMILYNAME' | translate }}"> {{ candidacy.familyName }}</bc-readonly>
    </div>

    <div class="entry" [class.tagged]="isTagged('ballotFirstName')">
      <bc-readonly label="{{ 'CANDIDACY.BALLOT_FIRSTNAME' | translate }}">{{
        candidacy.ballotFirstName || '-'
      }}</bc-readonly>
    </div>

    <div class="entry" [class.tagged]="isTagged('ballotFamilyName')">
      <bc-readonly label="{{ 'CANDIDACY.BALLOT_NAME' | translate }}">{{
        candidacy.ballotFamilyName || '-'
      }}</bc-readonly>
    </div>

    <div class="entry" [class.tagged]="isTagged('dateOfBirth')">
      <bc-readonly label="{{ 'CANDIDACY.DATEOFBIRTH' | translate }}">{{
        candidacy.dateOfBirth | date: 'dd.MM.yyyy'
      }}</bc-readonly>
    </div>

    <div class="entry" [class.tagged]="isTagged('title')">
      <bc-readonly label="{{ 'CANDIDACY.TITLE' | translate }}">{{ candidacy.title }}</bc-readonly>
    </div>

    <div class="entry" [class.tagged]="isTagged('occupationalTitle')">
      <bc-readonly label="{{ 'CANDIDACY.OCCUPATION' | translate }}">{{
        candidacy.occupationalTitle
      }}</bc-readonly>
    </div>

    <div class="entry" [class.tagged]="isTagged('origin')">
      <bc-readonly label="{{ 'CANDIDACY.ORIGIN' | translate }}">{{ candidacy.origin }}</bc-readonly>
    </div>

    <div
      class="entry"
      [class.tagged]="
        isTagged('street') || isTagged('houseNumber') || isTagged('zipCode') || isTagged('locality')
      "
    >
      <bc-readonly label="{{ 'CANDIDACY.ADDRESS' | translate }}"
        >{{ candidacy.street }} {{ candidacy.houseNumber }}<br />{{ candidacy.zipCode }}
        {{ candidacy.locality }}</bc-readonly
      >
    </div>

    <div class="entry" [class.tagged]="isTagged('sex')">
      <bc-readonly label="{{ 'CANDIDACY.SEX' | translate }}">{{
        'SEX.' + candidacy.sex | translate
      }}</bc-readonly>
    </div>

    <div
      *ngIf="isMajorz || settings.showPartyOnProporzElection"
      class="entry"
      [class.tagged]="isTagged('party')"
    >
      <bc-readonly label="{{ 'CANDIDACY.PARTY' | translate }}">{{ candidacy.party }}</bc-readonly>
    </div>

    <div class="entry" [class.tagged]="isTagged('incumbent')">
      <bc-readonly label="{{ 'CANDIDACY.INCUMBENT' | translate }}">{{
        (candidacy.incumbent ? 'TRUE' : 'FALSE') | translate
      }}</bc-readonly>
    </div>

    <div *ngIf="settings?.showBallotPaperInfos" class="ballot-data-container">
      <h2>{{ 'CANDIDACY.BALLOT_DATA' | translate }}</h2>

      <div class="entry" [class.tagged]="isTagged('ballotOccupationalTitle')">
        <bc-readonly label="{{ 'CANDIDACY.BALLOT_OCCUPATION_TITLE' | translate }}">{{
          candidacy.ballotOccupationalTitle || '-'
        }}</bc-readonly>
      </div>
      <div class="entry" [class.tagged]="isTagged('ballotLocality')">
        <bc-readonly label="{{ 'CANDIDACY.BALLOT_LOCALITY' | translate }}">{{
          candidacy.ballotLocality || '-'
        }}</bc-readonly>
      </div>
    </div>
  </div>
</main>
