.wrapper {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;

  &.tagged {
    ::ng-deep bc-checkbox label {
      background-color: #4cc1ae;
    }

    ::ng-deep .mat-mdc-form-field-outline-start,
    ::ng-deep .mat-mdc-form-field-outline-end {
      background-color: #4cc1ae;
    }
  }

  .content-wrapper {
    display: block;
    flex-grow: 1;
    margin-left: 1rem;
  }

  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  & > .content > * {
    flex-basis: 100%;
  }
}
