<main>
  <h2>{{ 'CANDIDACY.OVERVIEW' | translate }}</h2>

  @if (loading) {
    <app-spinner-centered [visible]="loading"></app-spinner-centered>
  } @else {
    <div class="main-content">
      <app-breadcrumbs class="breadcrumbs" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
      <app-candidacy-overview
        *ngIf="hasActiveTenant"
        [election]="election"
        [list]="list"
        (hasChangesChange)="hasChanges = $event"
      ></app-candidacy-overview>
    </div>
    <div class="comment-section">
      <app-comments [election]="election" [list]="list"></app-comments>
    </div>
  }
</main>
