.comment-section {
  width: 19rem;
  position: absolute;
  top: 60px;
  right: 0;
  height: calc(100% - 60px);
  background-color: rgb(230 230 230);
}

main {
  margin: 3rem;
}

.main-content {
  margin-right: 22rem;

  & .breadcrumbs {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: block;
  }
}
