header {
  margin: 1rem 1rem 0;
}

main {
  height: auto;
  width: auto;
  max-width: 1000px;
  max-height: 90vh;
  margin: 0 1rem;
}

::ng-deep .tagged .formfield .mat-form-field-appearance-outline .mat-mdc-form-field-flex {
  background-color: #4cc1ae;
}

bc-input input[type='date'] {
  height: 35px;
}

.dropdown .ng-select {
  width: 100%;
  box-sizing: border-box;

  .ng-select-container {
    height: 35px;
    min-height: 35px;
  }

  &.ng-select-single .ng-select-container {
    box-sizing: border-box;
    height: 35px;
    border-radius: 2px;
  }
}

bc-checkbox {
  margin-left: 0.4rem;
}

.split {
  margin: auto;
  display: flex;
  flex-direction: row;

  & > * {
    flex-basis: 50%;
    flex-grow: 1;
  }

  & > :first-child {
    margin-right: 0.5rem;
  }

  & > :last-child {
    margin-left: 0.5rem;
  }
}

.more-dropdown {
  display: block;
  margin-top: 0.5rem;

  .header {
    text-align: center;
    color: #a1a1a1;
    cursor: pointer;

    .icon-row {
      display: flex;
      flex-direction: row;
      place-content: center stretch;
      height: 20px;

      .bar {
        display: block;
        border-bottom: 1px solid #a1a1a1;
        height: 50%;
        flex-grow: 1;
      }

      .icon-container {
        flex-grow: 0;
        padding: 3px 0;

        .icon {
          color: #a1a1a1;
          margin-top: -1rem;
          display: block;
          transform-origin: center center;
          transform: rotate(90deg);
          background: #fff;
          font-size: 2rem;
          padding-bottom: 0.3rem;
        }
      }
    }

    &.open {
      .icon-row .icon-container .icon {
        transform: rotate(-90deg);
      }
    }
  }

  .body {
    display: none;
    margin-top: 1rem;

    &.visible {
      display: block;
    }
  }
}

.dropdown {
  display: block;
}

.buttons {
  margin-top: 3rem;
  margin-bottom: 2rem;

  & > * {
    margin-right: 0.5rem;
  }
  bc-button {
    margin-bottom: 2rem;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .info-tooltip {
    margin: auto;
  }

  bc-icon {
    margin: 0.5rem;
  }

  .grow {
    flex-grow: 1;
  }

  &.checkbox {
    align-items: normal;
    > bc-checkbox {
      margin-top: 0.7rem;

      .bc-checkbox {
        margin-bottom: 0.6rem;
      }
    }
  }
}

.preserve-whitespace {
  white-space: pre-wrap;
}
