<main>
  <div>
    @for (type of electionExportTypes; track type) {
      <bc-button
        id="exp-button"
        [variant]="'primary'"
        [hidden]="isElectionExportHidden(type)"
        (buttonClick)="exportElection(type)"
        label="{{ 'ELECTION_EXPORT_TYPES.' + type | translate }}"
      ></bc-button>
    }
  </div>
  @if (lists && lists.length > 0) {
    <div>
      @for (type of listExportTypes; track type) {
        <bc-button
          id="exp-button"
          [hidden]="isListExportHidden(type)"
          [variant]="'primary'"
          (buttonClick)="exportList(type)"
          label="{{ 'LIST.EXPORT_TYPE.' + type | translate }}"
        ></bc-button>
      }
    </div>
  }
  <div>
    <bc-button id="exp-button" (buttonClick)="cancelEvent.emit()" label="{{ 'CANCEL' | translate }}">
    </bc-button>
  </div>
</main>
