main {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

bc-button {
  margin: 0.3rem;
  padding: 0.1rem;
  width: 100%;
  height: 100%;
}
