main {
  margin: 3rem;
}
.content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5px;
}

bc-text:nth-child(2) {
  margin-left: 2rem;
}

bc-dropdown {
  display: block;
  width: 700px;
}

.button-wrapper {
  margin-top: 1.5rem;
  height: 2rem;
  display: flex;

  bc-spinner {
    margin-left: 1rem;
  }
}
